<div ng-controller="{{name}}Controller as {{name}}Ctrl" ng-init="genericCrudConfig = {{name}}Ctrl.genericCrudConfig">
    <dc-generic-crud actions="CRUD"
                     model="genericCrudConfig.model()"
                     form-fields-config="genericCrudConfig.formFieldsConfig()"

                     columns-config="genericCrudConfig.columnsConfig()"
                     listing-data-fn="genericCrudConfig.listingDataFn()"
                     listing-filter-options-list="genericCrudConfig.listingFilterOptionsList()"
                     listing-filter-query-fn="genericCrudConfig.listingFilterQueryFn()"
                     listing-delete-fn="genericCrudConfig.listingDeleteFn()"
    ></dc-generic-crud>
</div>
